.templateTitleDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.templateTitle {
    font-size: 32px;
    font-weight: bold;
}

.buttonDiv {
    display: flex;
    align-items:flex-end;
}

.button {
    background-color: #228BE6;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #1D7ED6;
}

.buttonIncrement {
    margin-left: 0.5vw;
}

.buttonDecrement {
    margin-right: 0.5vw;
}

.orderTotalLabel {
    font-size: 14px;
    font-weight:700;
    margin-top: .8vh;

}

.orderTotalText {
    font-size: 14px;
    margin-top: .3vh;

}


.odorText {
    font-size: 48px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.interiorDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rootText {
    font-size: 30px;
    font-weight: bold;
}



