.rorContainer {
    width: 100%;
    height: 100%;
}

.rootText {
    font-size: 48px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.progressBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.stepHeader {
    font-size: 32px;
    font-weight: bold;
    margin-left: 80px;
}

.navButtonContainer {
    margin-top: 50px;
    margin-right: 15%;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.rorTemplateContainer {
    margin-left: 120px;
    margin-top: 30px;
}