.rootGroup {
  align-items: baseline;
  flex-direction: column;
}

.rootText {
  font-size: 48px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.selectRoot {
  width: 100%;
}

.rootTable {
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 75vh;
}

.thead {
  background-color: white;
}

/* .td {
    overflow-x: scroll;
    max-width: 20px;
}

.td::-webkit-scrollbar {
    display: none;
} */


.tableID:hover{
  text-decoration: underline;
  cursor:pointer;
}