.rootGroup {
  align-items: baseline;
  flex-direction: column;
}

.rootText {
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid #3c96aa;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.selectRoot {
  width: 100%;
}

.rootTable {
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 75vh;
}

.thead {
  background-color: white;
}

/* .td {
    overflow-x: scroll;
    max-width: 20px;
}

.td::-webkit-scrollbar {
    display: none;
} */


.tableID:hover{
  text-decoration: underline;
  cursor:pointer;
}