.selectRoot {
    width: 50%;
}

.odorText {
    font-size: 36px;
    font-weight: bold;
    margin-top: 3vh;
}

.rootText {
    font-size: 30px;
    font-weight: bold;
}

.button {
    background-color: #228BE6;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #1D7ED6;
}

.buttonIncrement {
    margin-left: 0.5vw;
}

.buttonDecrement {
    margin-right: 0.5vw;
}

.buttonRemove:hover {
    background-color: red;
}

.exteriorDiv {
    display: flex;
    justify-content: center;
    width: 80vw;
    min-height: 80vh;
    min-width: 50vh;
    border: 1px solid blue;
}

.interiorDiv {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid cyan;
    min-width: 58vw;
}

.searchItemDiv {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid red;
    margin-bottom: 10px;
}


.orderTotalLabel {
    font-size: 15px;
    font-weight: 600;
    margin-top: 3vh;

}

.orderTotalText {
    font-size: 12px;
    margin-top: 5vh;

}