.rootGroup {
    align-items: baseline;
    flex-direction: column;
  }
  
  .rootText {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid #3c96aa;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .button {
    background-color: #1b4965;
  }
  
  .selectRoot {
    width: 100%;
  }
  
  .simpleGridRoot {
    width: 100%;
  }
  
  .modalTitle {
    font-size: larger;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #1B4965;
  }
  