
.outerSpacerDiv {
    display: flex;
    width: 100%;
}

.navButtonsDiv {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
}

.spacerDiv {
    flex-grow: 1;
}

.navbutton {
    width: 120px;
}