.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  min-width: 400px;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
  transform: translateY(20px);
  opacity: 0;
  animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container :hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.heading {
  font-weight: 700;
  margin: 20px;
  text-align: center;
}

.cardContainer {
  justify-content: center;
  align-content: center;
  margin: 10px auto;
  margin-bottom: 50px;
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.cardContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.12);
}

.cardText {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.cardText:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #007bff;
}

.cardNumber {
  text-align: center;
  font-weight: 900;
  padding-bottom: 15px;
}

@media (max-width: 1463px) {
  .container {
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .cardContainer {
    width: 100%;
  }
}

@media (max-width: 1338px) {
  .grid {
    width: 100%;
  }

  .container {
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .heading {
    text-align: center;
    margin-bottom: 20px;
  }

  .cardContainer {
    max-width: 300px;
    margin-bottom: 10px;
  }

  .cardText {
    text-align: center;
    font-weight: 600;
    margin: 20px;
  }
}

@media (max-width: 786px) {
  .container {
    gap: 15px;
    padding: 10px;
  }

  .cardContainer {
    margin-bottom: 15px;
  }

  .cardText {
    margin-bottom: 15px;
  }
}
