/* Main container to center everything */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  margin:auto;
}

/* Title Styling */
.heading {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 0.75rem;
}

/* Overview container for all sections */
.overviewContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

/* Card Styling */
.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px; 
  width: 100%;
  border-radius: 12px;
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cardContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.12);
}

/* Text inside cards */
.cardText {
  font-weight: 600;
  margin-bottom: 5px;
}

.cardText:hover {
  color: #007bff;
}

.cardNumber {
  font-size: 1.5rem;
  font-weight: 900;
  color: #007bff;
}

/* Pie Chart Cards */
.chartCard {
  flex: 1;
  max-width: 350px;
  height: 230px; /* Fixed height to match the stat cards */
  padding: 15px;
  border-radius: 12px;
  background: white;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  text-align: center;
  overflow-y:scroll;
  scrollbar-width: none;  
  scrollbar-color: transparent transparent; 
}

.chartCard:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.12);
}

/* Chart Title */
.chartTitle {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .overviewContainer {
    flex-direction: column;
    align-items: center;
  }

  .statCardsContainer {
    width: 100%;
    flex-direction: row;
    gap: 15px;
  }

  .chartCard {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .statCardsContainer {
    flex-direction: column;
    align-items: center;
  }

  .chartCard {
    width: 100%;
  }
}
