.heading{
    font-weight: 700;
    margin: 20px;
    text-align: center;

}

.thead {
    background-color: transparent;
}

.tableID:hover{
    text-decoration: underline;
    cursor:pointer;
}

.table {
    width: 100%;
}

.table th, .table td {
    width: 29%;
    text-align: left;
}
