.heading{
    font-weight: 700;
    margin: 20px;
    text-align: center;
    font-size: 1.5rem; 
}

.group{
    padding: 20px;
}

.tableID:hover{
    text-decoration: underline;
    cursor:pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: left;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  }

.table th {
    background-color: #000000;
    font-weight: 600;
    color:white;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
    .heading {
      font-size: 1.2rem;
      text-align: left; 
      margin: 10px 0;
    }
  
    
    .td {
      font-size: 0.9rem; 
    }
  }