.rootGroup {
  align-items: baseline;
  flex-direction: column;
}

.rootText {
  font-size: 48px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.button {
  background-color: #1b4965;
}
