.rootText {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
}

.rootSection {
  margin-bottom: 24px;
}

.rootHeaderTxt {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.rootTable {
  width: 100%;
  table-layout: auto;
  margin-bottom: 36px;
}

.rootTable td {
  padding: 12px;
}

.rootTable th {
  padding: 12px;
  background-color: #f1f3f5;
  font-weight: bold;
}
