.rootText {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
}

.rootConfirmationText {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 36px;
}

.rootSection {
  margin-bottom: 36px;
}

.rootHeaderTxt {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.rootTable {
  width: 100%;
  table-layout: auto;
  margin-bottom: 36px;
}

.rootTable td {
  padding: 12px;
}

.rootTable th {
  padding: 12px;
  background-color: #f1f3f5;
  font-weight: bold;
}

.rootApprovalTable {
  width: 33.33%;
  table-layout: auto;
  margin-bottom: 18px;
}

.tableTd {
  display: flex;
  width: 100%;
  justify-content: center;
}

.rootBtnArea {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: 36px;
}

.rootBtn {
  height: 48px;
  width: 128px;
}

.imgModalID:hover {
  text-decoration: underline;
  cursor: pointer;
}

.loadingContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
