.button {
    background-color: #228BE6;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonIncrement {
    margin-left: 0.5vw;
}

.buttonDecrement {
    margin-right: 0.5vw;
}