.button {
  background-color: #228be6;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonIncrement {
  margin-left: 0.5vw;
}

.buttonDecrement {
  margin-right: 0.5vw;
}

.imgModalID:hover {
  text-decoration: underline;
  cursor: pointer;
}
